.breadcrumbs {
	display: flex;
	width: 100%;
	max-width: 600px;
	margin: 0 auto 20px;

	justify-content: space-evenly;
}

.breadcrumb {
	display: block;
	width: 100px;
	padding: 10px ;

	box-sizing: border-box;
	background-color: var(--breadcrumb);
	box-shadow: 10px 10px 10px rgba(0,0,0,.2);

	text-align: center;
	color: inherit;

	cursor: pointer;

	position: relative;
}

.breadcrumb.active {
	border-bottom: 1px solid #FFF;
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.breadcrumb:before {
	content: "";
	display: block;
	
	width: 0%;
	height: 100%;
	background-color: #fff;
	opacity: 0.4;

	/*transform: rotate(-270deg);*/

	position: absolute;
	left: 50%;
	top: 0;

}
.breadcrumb:after {
	content: "";
	display: block;
	
	width: 0%;
	height: 100%;
	background-color: #fff;
	opacity: 0.4;

	transform: rotate(180deg);

	position: absolute;
	right: 50%;
	top: 0;

}

.breadcrumb:active.breadcrumb::before {
	/*transform: scale(0.6);*/
	animation: activate .1s linear infinite;/**/
}
.breadcrumb:active.breadcrumb::after {
	/*transform: scale(0.6);*/
	animation: activate .1s linear forwards;/**/
}

@keyframes activate {
	0% {
		width: 0%;
	}
	25% {
		width: 25%;
	}
	50% {
		width: 50%;
	}

}