.friends {
	display: none;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.friends.active {
	display: block;
}

.friend {
	display: block;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;

	border-radius: 5px;
	background-color: #202020;
	box-shadow: 10px 10px 10px rgba(0,0,0,.3);
}



.friend__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

.friend__ava {
	width: 20%;
	display: block;
	margin-left: 30px;
}

.friend__image {
	display: block;
	width: 75px;
	height: 75px;

	border-radius: 50%;
}

.friend__info {
	display: block;
	width: 40%;
	margin: 5px 0 10px;
}

.friend__name {
	display: block;

	color: inherit;
	font-weight: 700;
	font-size: 23px;

}

.friend__work {
	display: flex;
	margin-top: 20px;
}

.friend__work__item {
	display: flex;
	margin:	0 10px 0;
}

.friend__work__item:before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	margin: 3px 4px 0 0;

	border-radius: 50%;
	background-color: #e5e5e5;
	opacity: 0.3;
}

.friend__actions {
	display: block;
	width: 25%;

	position: relative;
}

.friend__action {
	display: block;
	margin: 0 10px 5px 0;
	text-align: right;
	
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
	text-transform: capitalize;

	color: #107EFF;

	
}

.remove {
	color: red;
}
.add {
	color: green;
}
.friend__action:hover {
	text-decoration: underline;
}

.read {
	margin-right: 10px;

	position: absolute;
	bottom: 0;
	right: 0;
}

@media screen and (max-width: 480px) {
	/**/
	.friend__content {
		justify-content: center;
	}
	.friend__ava {
		margin-left: 0;
	}
	.friend__info {
		width: 100%;
		text-align: center;
	}
	.friend__actions {
		width: 100%;
	}
	.friend__work {
		width: 100%;
		text-align: center;
		margin-left: auto;
	}
	.friend__action {
		margin: 0 10px 10px 0;
	}
	.read {
		position: static;
	}
	.friend__work__item {
		margin: 0 auto;
	}
}